*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
}
.Btn_add1{
	width: fit-content;
    margin-bottom: 20px;
    background-color: cyan;
    padding: 5px 20px;
    color: white;
    display: flex;
    align-items: center;
}

.Btn_add2{
	width: fit-content;
    margin-bottom: 20px;
    background-color: red;
    padding: 5px 20px;
    color: white;
    display: flex;
    align-items: center;
}
.Btn_add3{
	width: fit-content;
    margin-bottom: 20px;
    background-color: orange;
    padding: 5px 20px;
    color: white;
    display: flex;
    align-items: center;
}
.Btn_add4{
	width: fit-content;
    margin-bottom: 20px;
    background-color: black;
    padding: 5px 20px;
    color: white;
    display: flex;
    align-items: center;
}
table{
	border-collapse: collapse;
	color: #404040;
}
th{
	font-size: 16px;
	border-bottom: 3px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black; 
	padding: 5px 20px;
	font-weight: 500;
}


tr:nth-child(2n) th{
	background-color: white;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black; 
}

.form{
	background-color: white;
	padding: 25px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2)
}
.form form{
	display: flex;
	width: 350px;
	flex-direction: column;
}
.back_btn{
	color: #2bc48a;
	text-decoration: 0;
	display: flex;
	align-items: center;

}
h2{
	margin: 10px 0;
	font-weight: 500;
	text-transform: uppercase;
}
.erreur{
	color: red;
}
label{
	margin-top: 5px;
	text-transform: uppercase;

}
input{
	padding: 5px;
	border: 1px solid #999;
	outline: 0;
	margin-top: 2px;
}













